<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Cabeçalho da aplicação -->
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<!-- Cabeçalho da aplicação -->
	<div th:replace="fragments/header :: header" />
	<div class="container">
		<p>
			<span th:text="${mensagem}"></span>
		</p>
		<table class="table table-bordered table-striped table-hover">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Login</th>
				<th>E-mail</th>
				<th>Imagem</th>
			</tr>
			<tr>
				<td><span th:text="${usuario.id}"></span></td>
				<td><span th:text="${usuario.nome}"></span></td>
				<td><span th:text="${usuario.login}"></span></td>
				<td><span th:text="${usuario.email}"></span></td>
				<td><span th:text="${usuario.imagemPath}"></span></td>
			</tr>
		</table>
		<div>
			<p>
				<a href="/listarUsuarios">Voltar</a>
			</p>
		</div>

	</div>

	<!-- Rodapé da aplicação -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>
