<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf + Spring Security</title>

<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<!-- Cabeçalho da aplicação -->
	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="starter-template">
			<h3>Controle de acesso</h3>
			<br></br>

			<h4>
				Admin <a th:href="@{/admin}">Acesso do Administrador</a>
			</h4>
			<h4>
				User <a th:href="@{/user}">Acesso do usuário comum</a>
			</h4>
			<h5>
				Visitante <a th:href="@{/about}">Sobre a aplicação</a>
			</h5>

			<h5>Bem Vindo a aplicação Exemplo Básico Spring MVC</h5>
			<p>Nessa aplicação vamos trabalhar os princípios de uma aplicação
				de controle de acesso com o framework Spring MVC</p>
			<p>As seguintes features estão disponíveis:</p>
			<ol>
				<li>Inserir Convidados</li>
				<li>Listar Convidados</li>
				<li>Alterar Convidado</li>
				<li>Remover Convidado</li>

				<li>Inserir Usuário</li>
				<li>Listar Usuários</li>
				<li>Buscar Usuários</li>
				<li>Alterar Usuário</li>
				<li>Remover Usuário</li>
				<li>*Validação de dados no lado servidor</li>
				<li>Validação de dados no lado cliente</li>
				<li>Manipulação de dados via ORM/JPA</li>
				<li>*Controle de sessão do usuário via session</li>
				<li>*Inserção de arquivo via Multipart armazenado no filesystem do Servidor</li>
			</ol>
		</div>

	</div>
	<!-- /.container -->

	<!-- Rodapé da aplicação -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>