<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Cabeçalho da aplicação -->
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<!-- Cabeçalho da aplicação -->
	<div th:replace="fragments/header :: header" />

	<div class="container">

		<p>
			<span th:text="${mensagem}"></span>
		</p>
		<div th:if="${usuarios} != null">
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Detalhes</th>
					<th>Alterar</th>
					<th>Remover</th>
				</tr>
				<tr th:each="usuario : ${usuarios}">
					<td><span th:text="${usuario.id}"></span></td>
					<td><span th:text="${usuario.nome}"></span></td>
					<td><span th:text="${usuario.email}"></span></td>
					<td><a th:href="@{'detalharUsuario/'} + ${usuario.id}">Detalhar</a></td>
					<td><a th:href="@{'alterarUsuario?id='} + ${usuario.id}">Alterar</a></td>
					<td><a th:href="@{'removerUsuario/'} + ${usuario.id}">Remover</a></td>
				</tr>
			</table>
		</div>
		<div>
			<p>
				<a href="/admin">Voltar</a>
			</p>
		</div>

	</div>

	<!-- Rodapé da aplicação -->
	<div th:replace="fragments/footer :: footer" />

</body>
</html>