<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Cabeçalho da aplicação -->
<div th:replace="fragments/header :: header-css" />
</head>
<body>
	<!-- Cabeçalho da aplicação -->
	<div th:replace="fragments/header :: header" />
			<div>
				<span th:text="${mensagem}"></span>
			</div>
	<div class="container">
		<div th:if="${usuario} != null">
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Login</th>
				</tr>
				<tr>
					<td><span th:text="${usuario.id}"></span></td>
					<td><span th:text="${usuario.nome}"></span></td>
					<td><span th:text="${usuario.email}"></span></td>
					<td><span th:text="${usuario.login}"></span></td>
				</tr>
			</table>
		</div>
		<div>
			<p>
				<a href="/buscarUsuario">Voltar</a>
			</p>
		</div>

	</div>

</body>
</html>